* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 3%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

embed,
iframe {
    width: min(100%, 2000px);
    height: 100vh;
    margin: 0px;
}